// Color Variables from Style Guide
$primary-color: #d9e1e2;
$secondary-color: #2b334a;
$highlight-color: #c4d600;
$navy-blue: #101820;
$dark-gray: #53565a;
$light-gray: #f7f7f7;
$secondary-gray: #f2f2f2;
$third-gray: #e5e5e5;
$fourth-gray: #cccccc;
$fifth-gray: #b2b2b2;

// Font Variables
$header-font: "Ridley Grotesk", sans-serif;
$body-font: "Lato", sans-serif;
