// src/styles/Yachts.scss
@import "custom";

.boats {
  .section-title {
    color: $highlight-color;
    font-size: 2.5rem;
    margin-bottom: 20px;
  }

  .yacht-card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    .card-img-top {
      border-radius: 10px 10px 0 0;
    }
    &:hover {
      transform: scale(1.05);
    }
  }

  .cta-section {
    background-color: $secondary-color;
    padding: 40px 20px;
    border-radius: 10px;

    h2 {
      color: $primary-color;
      font-size: 2.5rem;
    }

    .btn-success {
      background-color: $highlight-color;
      border: none;

      &:hover {
        background-color: darken($highlight-color, 10%);
      }
    }
  }
  .yacht-gallery {
    img {
      border-radius: 10px;
      margin-bottom: 20px;

      &:hover {
        transform: scale(1.05);
      }
    }
  }
}
